

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h2{
  padding:'60px'
}

.btns{

width:200px;

}
.App {
  width:95%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  text-align: center;
}
.font{
  font: 30px italic;
}
#container {
  display: flex;              /* establish flex container */
     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;  /* center items horizontally, in this case */
  height: 300px;
  border: 1px solid black;
  width: auto;
  margin: auto;

}

.box {
  width: 300px;
  margin: 5px;
  text-align: center;
}
.contain{
  width: 1000px;
  height: auto;
  line-height: 500px;
  text-align:center;
  border:1px solid red;
}

.child{

  width: 220px;
  height:200px;
  border:1px solid black;
  
}